In [29]:
from urllib.request import urlopen

import matplotlib.patheffects as path_effects
import matplotlib.pyplot as plt
import pandas as pd
from PIL import Image

In [30]:
pip install mplsoccer

Requirement already satisfied: mplsoccer in c:\users\lastc\anaconda3\lib\site-packages (1.1.11)
Requirement already satisfied: matplotlib in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (3.5.2)
Requirement already satisfied: seaborn in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (0.11.2)
Requirement already satisfied: requests in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (2.28.1)
Requirement already satisfied: numpy in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (1.21.5)
Requirement already satisfied: scipy in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (1.9.1)
Requirement already satisfied: pandas in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (1.4.4)
Requirement already satisfied: pillow in c:\users\lastc\anaconda3\lib\site-packages (from mplsoccer) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (1.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lastc\anaconda3\lib\site-packages (from matplotlib->mplsoccer) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lastc\anaconda3\lib\site-packages (from pandas->mplsoccer) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\lastc\anaconda3\lib\site-packages (from requests->mplsoccer) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lastc\anaconda3\lib\site-packages (from requests->mplsoccer) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lastc\anaconda3\lib\site-packages (from requests->mplsoccer) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lastc\anaconda3\lib\site-packages (from requests->mplsoccer) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\lastc\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->mplsoccer) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
from mplsoccer import Pitch, FontManager, add_image

In [39]:
URL = 'https://fbref.com/en/comps/9/Premier-League-Stats#stats_squads_possession_for'

In [46]:
df = pd.read_html(URL)[18]
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl               Poss
0             Arsenal                 26               59.6
1         Aston Villa                 26               49.5
2         Bournemouth                 31               38.9
3           Brentford                 25               43.4
4            Brighton                 26               59.9
5             Chelsea                 32               59.1
6      Crystal Palace                 26               44.2
7             Everton                 28               43.5
8              Fulham                 29               48.3
9        Leeds United                 28               48.7
10     Leicester City                 28               49.3
11          Liverpool                 27               58.9
12    Manchester City                 22               64.7
13     Manchester Utd                 26               53.4
14      Newcastle Utd                 26               51.4
15    Nott'ham Forest                 33               40.2
16        Southampton                 31               44.9
17          Tottenham                 27               50.3
18           West Ham                 25               42.8
19             Wolves                 31               50.5

   Unnamed: 3_level_0 Touches                                          ...  \
                  90s Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ...
0                30.0   20698    1532    5152    9247    6447    1040  ...
1                30.0   17332    2164    6323    7400    3768     583  ...
2                30.0   15154    2289    6148    5938    3266     530  ...
3                30.0   15528    2130    5867    6012    3779     638  ...
4                28.0   19760    1780    5852    8866    5187     800  ...
5                30.0   21544    1973    6763    9623    5315     722  ...
6                30.0   16891    2146    6203    7164    3698     552  ...
7                30.0   16269    2031    5824    6861    3760     582  ...
8                29.0   16802    1928    5571    7232    4174     585  ...
9                30.0   17578    1669    5619    7604    4525     636  ...
10               30.0   18891    2110    6745    8560    3754     555  ...
11               29.0   21131    1860    6422    9677    5170     923  ...
12               29.0   22758    1549    5493   10981    6433    1021  ...
13               29.0   18725    2004    6187    7900    4794     749  ...
14               29.0   16691    1658    5201    6785    4874     851  ...
15               30.0   14880    2141    5985    5901    3170     484  ...
16               30.0   16762    1942    5751    7154    4046     580  ...
17               30.0   19035    2184    6877    8165    4151     679  ...
18               29.0   15627    1785    5316    6642    3807     569  ...
19               30.0   18141    2305    6794    7430    4104     569  ...

   Carries                                          Receiving
   Carries TotDist PrgDist PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
0    12684   67272   35134  669  468  228  433  306     14434  1633
1     9851   51426   26119  489  335  141  444  304     11058   990
2     7668   40981   19840  371  301  104  468  291      8608   739
3     7991   37424   18206  295  232   69  417  276      8650   880
4    12038   60303   30997  580  381  172  422  247     14017  1370
5    13079   65305   33751  624  467  162  460  318     14987  1359
6     8891   44962   22143  398  295  148  510  372     10223   942
7     8546   45553   22155  399  297  115  490  247      9602   811
8     9231   51220   26862  498  370   96  419  300     10424  1011
9     9213   44793   22339  463  305  125  501  331     10191  1146
10   10289   51474   25689  480  297  143  442  241     12321  1070
11   12369   61383   31225  526  396  169  454  317     14582  1478
12   14390   79158   42734  759  579  219  308  226     17400  1630
13   10717   53846   28166  527  389  169  383  227     12250  1130
14    8899   48057   24757  502  362  157  420  274     10318  1196
15    7408   39544   20505  371  263   93  442  229      8155   723
16    9050   48180   23146  447  374  100  464  322      9655   898
17   11059   57606   29749  554  376  140  439  294     12781  1191
18    8078   44022   21347  474  336  118  352  277      9426   987
19   10103   55172   28936  501  353  115  439  255     11672  1130

[20 rows x 26 columns]

In [47]:
df = df[['Unnamed: 0_level_0', 'Touches']].copy()
df

   Unnamed: 0_level_0 Touches
                Squad Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen   Live
0             Arsenal   20698    1532    5152    9247    6447    1040  20695
1         Aston Villa   17332    2164    6323    7400    3768     583  17328
2         Bournemouth   15154    2289    6148    5938    3266     530  15154
3           Brentford   15528    2130    5867    6012    3779     638  15520
4            Brighton   19760    1780    5852    8866    5187     800  19755
5             Chelsea   21544    1973    6763    9623    5315     722  21541
6      Crystal Palace   16891    2146    6203    7164    3698     552  16889
7             Everton   16269    2031    5824    6861    3760     582  16267
8              Fulham   16802    1928    5571    7232    4174     585  16795
9        Leeds United   17578    1669    5619    7604    4525     636  17576
10     Leicester City   18891    2110    6745    8560    3754     555  18889
11          Liverpool   21131    1860    6422    9677    5170     923  21129
12    Manchester City   22758    1549    5493   10981    6433    1021  22751
13     Manchester Utd   18725    2004    6187    7900    4794     749  18723
14      Newcastle Utd   16691    1658    5201    6785    4874     851  16687
15    Nott'ham Forest   14880    2141    5985    5901    3170     484  14877
16        Southampton   16762    1942    5751    7154    4046     580  16759
17          Tottenham   19035    2184    6877    8165    4151     679  19030
18           West Ham   15627    1785    5316    6642    3807     569  15620
19             Wolves   18141    2305    6794    7430    4104     569  18139

In [48]:
df.columns = df.columns.droplevel()
df = df.drop(["Live"], axis = 1)
df

              Squad  Touches  Def Pen  Def 3rd  Mid 3rd  Att 3rd  Att Pen
0           Arsenal    20698     1532     5152     9247     6447     1040
1       Aston Villa    17332     2164     6323     7400     3768      583
2       Bournemouth    15154     2289     6148     5938     3266      530
3         Brentford    15528     2130     5867     6012     3779      638
4          Brighton    19760     1780     5852     8866     5187      800
5           Chelsea    21544     1973     6763     9623     5315      722
6    Crystal Palace    16891     2146     6203     7164     3698      552
7           Everton    16269     2031     5824     6861     3760      582
8            Fulham    16802     1928     5571     7232     4174      585
9      Leeds United    17578     1669     5619     7604     4525      636
10   Leicester City    18891     2110     6745     8560     3754      555
11        Liverpool    21131     1860     6422     9677     5170      923
12  Manchester City    22758     1549     5493    10981     6433     1021
13   Manchester Utd    18725     2004     6187     7900     4794      749
14    Newcastle Utd    16691     1658     5201     6785     4874      851
15  Nott'ham Forest    14880     2141     5985     5901     3170      484
16      Southampton    16762     1942     5751     7154     4046      580
17        Tottenham    19035     2184     6877     8165     4151      679
18         West Ham    15627     1785     5316     6642     3807      569
19           Wolves    18141     2305     6794     7430     4104      569